/*
CSS: "WWW:MaduraiAstrology.Com"
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	background: #696653;
}

a:link, a:visited { color: #f4d153; text-decoration:none;letter-spacing:.05em;margin:.6em 0; border:0;} 
a:active, a:hover { color: #f4d153; text-decoration: underline;letter-spacing:.05em;margin:.6em 0;border:0;}

h1 {
	margin: 0px;
	padding: 10px 0;
	font-size: 18px;
	color: #11616a;
	font-weight: bold;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 0px;
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
}

.comment {
	padding-left: 20px;
	margin-left: 5px;
	background: url(../Images/templatemo_comment_icon.png) bottom left no-repeat;
}

/* top panel */
#templatemo_top_panel{
	width:100%;
	height: 186px;	
	margin: 0 auto;
	color: #ffffff;
	background: url(../Images/templatemo_content_bg.jpg) repeat;
}

#templatemo_header_section{
	width: 100%;
	height: 186px;	
	margin:0 auto;
	padding: 0 15px;
	background: url(../Images/header1.JPG) no-repeat;
	text-align: center;
	text-align: center;	
}

#templatemo_top_panel #templatemo_header_section{
	width: 930px;
	height: 186px;	
	margin:0 auto;
	padding: 0 15px;
	background: url(../Images/header1.JPG) no-repeat;	
}

/* end of top panel */

/* content panel */
#templatemo_content_panel {
	clear: both;
	width:100%;
	margin: 0 auto;
	color: #ffffff;
	background-color: White;
	background: url(../Images/templatemo_content_bg.jpg) repeat;
}

#templatemo_content_panel #templatemo_content {
	clear: both;
	overflow: hidden;
	height: 100%;
	width: 85%;
	padding: 15px 0 0 0px;
	margin:0 auto;
}

#templatemo_content #templatemo_content_left {
	float: left;
	width: 270px;
	margin-right: 30px;
	padding-top: 15px;
	border: 5px solid #7b7866;
	background-color: #696653;
}

#templatemo_content #templatemo_content_right_index {
	float: left;
	width: 450px;
}

#templatemo_content #templatemo_content_right {
	float: left;
	width: 590px;
}

#templatemo_content #templatemo_content_right_adv {
	float: left;
	width: 250px;
}

#templatemo_content_left .templatemo_content_left_section {
	clear: both;
	width: 270px;
	margin-left: 10px;
	margin-bottom: 7px;
}

.templatemo_content_left_section .left_section_title {
	margin: 0px;
	font-size: 13px;
	font-weight:bold;
	padding: 20px 0 0 20px;
	height: 45px;
	color: Maroon;
	background:url(../Images/templatemo_left_column_title_bg.jpg) no-repeat;
} 

.templatemo_content_left_section .left_section_content {
	margin: 0px;
	padding: 10px 20px 0 50px;
	letter-spacing:.05em;
}

.left_section_content ul{
	clear: both;
	margin: 0 0 0 15px;
	padding: 0px;
}

.left_section_content ul li{
	margin: 0 0 5px 0;
	letter-spacing:.05em;
}

.left_section_content .gallery {
	list-style: none;
	margin: 0;
	padding: 0;
}

.left_section_content .gallery li {
	padding: 0;
	float: left;
	margin: 0 1px 1px 0;	
	width: 70px;
	height: 61px;
	border: 1px solid #7b7866;
}

.left_section_content .gallery img {
	border: none;
}

#templatemo_content_right .templatemo_post_section {
	clear: both;
	margin-bottom: 25px;
}

.templatemo_post_section .date_section {
	float: left;
	display: inherit;
	font-size: 30px;
	font-weight: bold;
	width: 70px;
	height: 60px;
	padding: 30px 0 0 30px;
	margin-right: 15px;
	background: url(../Images/templatemo_date_bg.png) no-repeat;
}

.date_section span {
	display: block;
	margin-top: 8px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing:.05em;
	margin:.6em 0;
} 

.templatemo_post_section .post_content_index {
	float: left;
	display: inline;
	width: 450px;
}

.templatemo_post_section .post_content {
	float: left;
	display: inline;
	width: 700px;
}

.post_content .post_title {
	width: 750px;
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	font-size: 26px;
	font-weight: bold;
	color: #d77707;
	border-bottom: 1px solid #75715a;
	letter-spacing:.05em;
	margin:.6em 0;
}

.post_content .post_title_index {
	width: 450px;
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	font-size: 26px;
	font-weight: bold;
	color: #d77707;
	border-bottom: 1px solid #75715a;
	letter-spacing:.05em;
	margin:.6em 0;
}

.post_title .post_info{
	width: 100%;
	font-weight: normal;
	font-size: 12px;
	padding-top: 5px;
	color: #ffffff;
	letter-spacing:.05em;
	margin:.6em 0;
}

.post_content .post_body{
	padding: 0 0 15px 0;
}

.post_content .post_body img{
	margin-bottom: 15px;
	border: 5px solid #7b7866;
}

.post_content .post_comment {
	padding-left: 20px;
	margin-left: 5px;
	background: url(../Images/templatemo_comment_icon.png) bottom left no-repeat;
}

/* comment */

#middle_column .comment_section {
	margin: 20px 20px 30px 20px;
}

.comment_section .comment_section_title{
	color: #ded153;
	height: 30px;
	font-size: 30px;
	border-bottom: 1px dotted #666;
	padding: 20px 0 0 0;
	margin-bottom: 15px;
	letter-spacing:.05em;
	margin:.6em 0;
}

.comment_section .comment_box{
	margin-bottom: 20px;
	background: #bebaa4;
}

.comment_box .comment_title {
	color: #11616a;
	font-weight: bold;
	padding: 5px 10px;
	background-color: #aba68b;
	border-bottom: 1px solid #9e997e;
	letter-spacing:.05em;
	margin:.6em 0;
}

.comment_box .comment_body{
		padding: 5px 10px;
}


#middle_column .leave_comment_section {
	margin: 20px;
}

.leave_comment_section .leave_comment_section_title{
	color: #ded153;
	height: 30px;
	font-size: 30px;
	border-bottom: 1px dotted #666;
	padding: 20px 0 0 0;
	margin-bottom: 15px;
	letter-spacing:.05em;
	margin:.6em 0;
}

.leave_comment_section form {
	padding: 20px;
	background-color: #aba68b;
	border: 1px solid #9e997e;
	letter-spacing:.05em;
	margin:.6em 0;
}

.leave_comment_section textarea {
	background:#FFFFFF none repeat fixed 0 0;
	border:1px solid #BBBBBB;
	display:block;
	font-family:Helvetica,Arial,sans-serif;
	font-size:1.1em;
	height:150px;
	margin-top:5px;
	padding:5px;
	width:300px;
	letter-spacing:.05em;
	margin:.6em 0;
}

.leave_comment_section .form_row {
	width: 100%;
	margin-bottom: 15px;
}

.leave_comment_section form input {
	margin-top: 5px;
	width: 200px;
}

.leave_comment_section .submit_btn {
	width: 80px;
}

/* end of comment */
/* end of content */

/* for bottom palen */
#templatemo_bottom_panel{
	width:100%;
	min-height: 280px;
	margin: 0 auto;
	border-top: 1px solid #050702;
	letter-spacing:.05em;
	margin:.6em 0;
	background: #000000 url(../Images/templatemo_bottom_panel_bg.jpg) center top no-repeat;	
}

#templatemo_bottom_panel #templatemo_bottom_section{
	overflow: hidden;
	width: 930px;
	margin:0 auto;
	padding: 40px 0 15px 30px;	
}

#templatemo_bottom_section #templatemo_bottom_section_left {
	float: left;
	display: inline-block;
	width: 280px;
	margin-right: 30px;
	margin-bottom: 15px;
}

#templatemo_bottom_section .bottom_section_title{
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: bold;
	color: #ffffff;
	letter-spacing:.05em;
	margin:.6em 0;
}

#templatemo_bottom_section_left .popular_post {
	list-style: none;
	margin: 0;
	padding: 0 30px 0 0;
}


.popular_post li{
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #36241b;
}

#templatemo_bottom_section #templatemo_bottom_section_right {
	float: right;
	text-align: right;
	display: inline-block;
	width: 280px;
	margin-right: 30px;
	margin-bottom: 15px;
	letter-spacing:.05em;
	margin:.6em 0;
}

#templatemo_bottom_section_right .list_section{
	list-style: none;
	margin: 0 0 15px 30px;
	padding: 0;
}

#templatemo_bottom_section_right .list_section li{
	list-style: none;
}

/* end of bottom panel */

/*  footer */

#templatemo_footer_panel{
	width:100%;
	height: 50px;
	margin: 0 auto;
	background-color: #151513;
	border-top: 1px solid #36352c;
}

#templatemo_footer_panel #templatemo_footer_section{
	width: 960px;
	height: 10px;
	margin:0 auto;
	padding: 20px 15px;	
	text-align: center;
}
/* end of footer */

h1.marquee {
	margin: 0px;
	padding: 10px 0;
	font-size: 15px;
	color: ActiveBorder;
	font-weight: bold;
	letter-spacing:.05em;
	margin:.6em 0;
}

h1.title {
	margin: 0px;
	padding: 10px 0;
	font-size: 15px;
	color: Maroon;
	font-weight: bolder;
	border-bottom: 1px solid #75715a;
	letter-spacing:.05em;
	margin:.6em 0;
}

h1.subtitle {
	margin: 0px;
	padding: 10px 0;
	font-size: 18px;
	color: #11616a;
	font-weight: bold;
	letter-spacing:.05em;
	margin:.6em 0;
}

span.header 
{
    font-size:80%;
	color:red;
	font-weight:normal;
	letter-spacing:.05em;
	margin:.6em 0;
	position:relative;	
	font-weight: bold;
}

span.normal {
	font-size: 12px;
	letter-spacing:.05em;
	margin:.6em 0;
	position:relative;	
	font-weight: normal;
	color: Black;
}

p
{
    text-align:justify;
    letter-spacing:.05em;
	margin:.6em 0;
}

h3 {
	/* optional styling, you can use whatever you wish */
	font-size:12px;
	color: black;
	letter-spacing:.05em;
	margin:.6em 0;
	position:relative;
	font-weight: normal;
}

/*jquery slider - Start*/
#slider {
	position: relative;
	width: 450px;
	margin: 0px auto 20px auto;
	border-style: inherit;
}

#slider .viewer {
	width: 450px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
}

#slider .viewer .reel {
	display: none;
	height: 200px;
}

#slider .viewer .reel .slide {
	position: relative;
	width: 450px;
	height: 200px;
}
/*jquery slider - End*/

/*Table - Start*/
table.classestable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	border-width: 5px;
	border-color: Olive;
	border-collapse: collapse;
	width: inherit;
	border-style: inset;
	color: Black;
	letter-spacing:.05em;
	margin:.6em 0;
}

table.classestable th {
	/*background:#ebf3ff;
	border-color: #999999;*/
	
	background-color: Maroon;
	border-color: Maroon;
	border-width: 5px;
	padding: 8px;
	border-style:inset;	
	font-family:Arial, Times New Roman, Courier New;
    font: 10pt/15pt courier;
    font-weight: bold;
    color: Yellow;
    letter-spacing:.05em;
	margin:.6em 0;
	text-decoration: underline;
}

table.classestable td {
	background:#F0F0F0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
	font-family:Arial, Times New Roman, Courier New;
    font: 9pt/15pt courier;
    letter-spacing:.05em;
	margin:.6em 0;
}

table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 5px;
	border-collapse: collapse;
	width: inherit;
	background-image: url(../Images/table_background_1.jpg);
	border-color: Olive;
	border-style: inset;
	letter-spacing:.05em;
	margin:.6em 0;
}

table.imagetable th {
	background:#580000;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
	font-family:Arial, Times New Roman, Courier New;
    font: 10pt/15pt courier;
    font-weight: bold;
    color: Yellow;
    letter-spacing:.05em;
	margin:.6em 0;
}

table.imagetable td.regular {
	background:#686868;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
	font-family:Arial, Times New Roman, Courier New;
    font: 10pt/15pt courier;
    font-weight: bold;
    text-align: center;
    color: #E8E8E8;
    letter-spacing:.05em;
	margin:.6em 0;
}

table.imagetable td {
	background:#dcddc0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
	font-family:Arial, Times New Roman, Courier New;
    font: 9pt/15pt courier;
    letter-spacing:.05em;
	margin:.6em 0;
}

a.normallink:link {color:Maroon; text-align:left; font-family:Arial, Times New Roman, Courier New; text-decoration:none;letter-spacing:.05em;margin:.6em 0;}
a.normallink:visited {color:blue; text-align:left; font-family:Arial, Times New Roman, Courier New; text-decoration:none;letter-spacing:.05em;margin:.6em 0;}
a.normallink:hover {color:blue; text-align:left; font-family:Arial, Times New Roman, Courier New; text-decoration:underline;letter-spacing:.05em;margin:.6em 0;}

a.spanlink:link {color:#EFE00B; text-align:left; font-family:Arial, Times New Roman, Courier New; text-decoration:none;font-weight:bold;letter-spacing:.05em;margin:.6em 0;}
a.spanlink:visited {color:#EFE00B; text-align:left; font-family:Arial, Times New Roman, Courier New; text-decoration:none;font-weight:bold;letter-spacing:.05em;margin:.6em 0;}
a.spanlink:hover {color:#EFE00B; text-align:left; font-family:Arial, Times New Roman, Courier New; text-decoration:underline;font-weight:bold;letter-spacing:.05em;margin:.6em 0;}

/*Table - End*/

span.span1 {
	font-size:15px;
	color:#EFE00B;
	letter-spacing:.05em;
	margin:.6em 0;
	position:relative;	
	font-weight: bold;
	line-height:1.5em;
}

span.span2 {
	font-size:13px;
	color:#EFE00B;
	letter-spacing:.05em;
	margin:.6em 0;
	position:relative;	
	font-weight: bold;
	line-height:1.5em;
}

li.subtable
{
    list-style-type: circle;
    letter-spacing:.05em;
	margin:.6em 0;
}

.head2  
{
    width: 650px; 
    padding: 4px; 
    text-align: center; 
    font-size: 14px; 
    margin-top: 0px; 
    padding-right: 0px; 
    /*background-color: #ebf3ff; */
    /*border: thin #9ec3ff solid; */
    background-color: Maroon; 
    border: thin yellow solid; 
    border-top: none; 
    letter-spacing:.05em;
	margin:.6em 0;
	position:relative;	
	font-weight:bold;
    color: yellow;
}

h2 {
	/* optional styling, you can use whatever you wish */
	font-size:13px;
	/*color:#EFE00B;*/
	color: Maroon;
	font-weight:normal;
	letter-spacing:.05em;
	margin:.6em 0;
	/* now, this is important */
	position:relative;	
	font-weight: bold;
}

h2.h21 {
	/* optional styling, you can use whatever you wish */
	font-size:12px;
	color:Maroon;
	font-weight:normal;
	letter-spacing:.05em;
	margin:.6em 0;
	/* now, this is important */
	position:relative;	
	font-weight: bold;
	height:30px;
}

span.span11 {
	/* optional styling, you can use whatever you wish */
	font-size:13px;
	color: Maroon;
	letter-spacing:.05em;
	margin:.6em 0;
	position:relative;	
	font-weight: bold;
	line-height:1.5em;
}

span.span12 {
	font-size:12px;
	color: white;
	letter-spacing:.05em;
	margin:.6em 0;
	position:relative;	
	font-weight: bold;
	line-height:1.5em;
}

span.span3 {
	font-size:12px;
	color:Black;
	font-weight:normal;
	letter-spacing:.05em;
	margin:.6em 0;
	line-height:1.5em;
	text-align:justify;
}


/* Testing - Start */
#sidebar {
	width:285px;
}
#sidebar .by {
	line-height:12px;
	text-align:right;
	padding:1px 9px 0 0;
}
#sidebar .by span {
	font-size:11px;
	display:block;
	padding:3px 0 0 0;
}
.box-quote {
}
.box-quote h2 {
}
.box-quote .box-c {
	background:url(../Images/borders/quote-bg.gif) no-repeat 0 0;
	width:200px;
	height:147px;
	padding:21px 25px 25px 60px;
}
.box-quote p {
	line-height:25px;
}
.box-quote p a {
	color:#34616d;
}
.right, .alignright {
	float:right;
	display:inline;
}
/* Testing - End */

